# Ignora la cartella delle simulazioni 
caches_razzo/

# --- File temporanei di Blender ---
*.blend1
*.blend2
*.blend3
*.blend*

# --- File di simulazione (Cache generica) ---
*.uni
*.vdb
*.pyc

# Blender quit file
quit.blend

# Thumbnails folder
.thumbnails/

# Render output folders
render/
output/

# --- File di sistema Mac ---
.DS_Store